* {
  font-family: "FreeSans";
  font-size: 13px;
}

#mode, #clock, #battery, #memory, #custom-cmus, #custom-layout, #pulseaudio, #cpu {
    padding: 0 20px;
}

#tray {
    padding-left: 20px;
	padding-right: 10px;
}
window#waybar {
  background-color: rgba(0, 5, 20, 0.8)
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,

#clock {
  color: #99FFFF;
}

#battery {
  color: #00CCCC;
}

#battery.charging {
  color: #8fffff;
}

@keyframes blink {
  to {
    color: #00ffff;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  color: #7f0000;
}

#cpu {
  color: #009F6B;
}

#memory {
  color: #0D98BA;
}

#custom-cmus {
  color: #4FFFB0;
}

#language {
  color: #20B2AA;
}

#pulseaudio {
  color: #29AB87;
}
